Output/
Project/Listings/
Project/Objects/
Project/*.uvguix.*
Project/*.uvoptx
Project/*.uvopt
Project/*.uvgui*
Listings/
Objects/
*.o
*.d
*.axf
*.hex
*.map
*.lst
*.crf
*.htm
*.lnp
*.dep
*.scvd
*.build_log.htm
*.gif
!docs/**/*.gif
*.bak
__pycache__/
*.pyc
